{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'style.html' %}
</head>

<body>
    <!-- Preloader Starts -->
    {% include 'preloader.html' %}
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    {% include 'navbar.html' %}
    <!-- Header Area End -->

    {% block main_content %}
    <!-- main content will be added here -->
    {% endblock main_content %}
    <!-- here is the footer section -->
    {% include 'footer.html' %}
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{% static 'front/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'front/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'front/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'front/js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'front/js/vendor/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'front/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'front/js/main.js' %}"></script>
    {% block scripts %}
    <!-- here is the sciprt block -->
    {% endblock scripts %}
</body>

</html>