{% load static %}
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="/"><img src="{% static 'front/images/logo/logo.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li class="active"><a href="/">home</a></li>
                        <li><a href="/about">about</a></li>
                        {% if user.is_authenticated and not user.is_superuser%}
                        <li><a href="/search">Search</a></li>
                        <li><a href="/apply">Apply</a></li>
                        <li><a href="#">{{user.first_name}}</a>
                            <ul class="sub-menu">
                                <li><a href="#profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        {% elif user.is_authenticated and user.is_superuser %}
                        <li><a href="/search">Search</a></li>
                        <li><a href="/admin">Admin</a></li>
                        <li><a href="#">{{user}}</a>
                            <ul class="sub-menu">
                                <li><a href="#profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                        {%else%}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registration</a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>