{% load static %}
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="/"><img src="{% static 'front/images/logo/logo.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li class="active"><a href="/">home</a></li>
                        <li><a href="about/">about</a></li>
                        <li><a href="search/">Search</a></li>
                        <li><a href="contact/">Apply</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>