{% load static %}
<!-- Required Meta Tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Page Title -->
<title>Foodfun</title>

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'front/images/logo/favicon.png'%}" type="image/x-icon">

<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'front/css/animate-3.7.0.css'%}">
<link rel="stylesheet" href="{% static 'front/css/font-awesome-4.7.0.min.css'%}">
<link rel="stylesheet" href="{% static 'front/css/bootstrap-4.1.3.min.css' %}">
<link rel="stylesheet" href="{% static 'front/css/owl-carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'front/css/jquery.datetimepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'front/css/style.css' %}">