{% extends 'base.html'%}
<!-- extending base html -->
{% load static %}
<!-- load static -->
{% block main_content %}
<!-- main content block starts here -->
<style>
    .apply-section {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>
<section class="apply-section">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>
<!-- main content block ends here -->
{% endblock main_content %}
<!-- scripts -->
{% block scripts %}
<!-- scripts -->
{% endblock scripts %}