{% extends 'base.html' %}
<!-- extending the base html -->
{% load static %}
<!-- loading static files here -->
<!-- here this is the main block content -->
{% block main_content %}
<!-- Banner Area Starts -->
<section class="banner-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>the most interesting food in the world</h6>
                <h1>Discover <span class="prime-color">Our</span><br>
                    <span class="style-change">New <span class="prime-color">Way of </span>Finding Chef</span>
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<!-- Welcome Area Starts -->
<section class="welcome-area section-padding2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="welcome-img">
                    <img src="{% static 'front/images/welcome-bg.png' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="welcome-text mt-5 mt-md-0">
                    <h3><span class="style-change">welcome</span> <br>to Chef FInder</h3>
                    <p class="pt-3">Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree am waters brought. Divide after there. Was.</p>
                    <p>Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree waters brought. Divide after there. Was. Created god gathered don't you yielding herb you had. And
                        isn't god.</p>
                    <a href="#" class="template-btn mt-3">book a table</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->


<!-- Reservation Area Starts -->
<div class="reservation-area section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Serve you their best</h2>
                <h4 class="mt-4">some trendy and popular courses offerd</h4>
                <a href="" class="template-btn template-btn2 mt-4">reservation</a>
            </div>
        </div>
    </div>
</div>
<!-- Reservation Area End -->

<!-- Deshes Area Starts -->
<div class="deshes-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Some <span>Deshes </span>They Made</h3>
                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6 align-self-center">
                <h1>01.</h1>
                <div class="deshes-text">
                    <h3><span>Garlic</span><br> green beans</h3>
                    <p class="pt-3">Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.</p>
                    <span class="style-change">$12.00</span>
                    <a href="#" class="template-btn3 mt-3">book a table <span><i class="fa fa-long-arrow-right"></i></span></a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                <img src="{% static 'front/images/deshes1.png'%}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                <img src="{% static 'front/images/deshes2.png'%}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2">
                <h1>02.</h1>
                <div class="deshes-text">
                    <h3><span>Lemon</span><br> rosemary chicken</h3>
                    <p class="pt-3">Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.</p>
                    <span class="style-change">$12.00</span>
                    <a href="#" class="template-btn3 mt-3">book a table <span><i class="fa fa-long-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deshes Area End -->

<!-- Testimonial Area Starts -->
<section class="testimonial-area section-padding4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Customer <span>says</span></h3>
                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-slider owl-carousel">
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="{% static 'front/images/customer1.png'%}" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>adame nesane</h5>
                            <span><i>Chief Customer</i></span>
                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="{% static 'front/images/customer2.png'%}" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>adam nahan</h5>
                            <span><i>Chief Customer</i></span>
                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                    <div class="single-slide d-sm-flex">
                        <div class="customer-img mr-4 mb-4 mb-sm-0">
                            <img src="{% static 'front/images/customer1.png'%}" alt="">
                        </div>
                        <div class="customer-text">
                            <h5>adame nesane</h5>
                            <span><i>Chief Customer</i></span>
                            <p class="pt-3">You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End -->

<!-- Update Area Starts -->
<section class="update-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Our <span>food</span> update</h3>
                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'front/images/update1.jpg'%}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="post-admin d-lg-flex mb-3">
                            <span class="mr-5 d-block mb-2 mb-lg-0"><i class="fa fa-user-o mr-2"></i>Admin</span>
                            <span><i class="fa fa-calendar-o mr-2"></i>18/09/2018</span>
                        </div>
                        <h5>no finer food can be found</h5>
                        <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                        <a href="#" class="template-btn3 mt-2">read more <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-food my-5 my-md-0">
                    <div class="food-img">
                        <img src="{% static 'front/images/update2.jpg'%}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="post-admin d-lg-flex mb-3">
                            <span class="mr-5 d-block mb-2 mb-lg-0"><i class="fa fa-user-o mr-2"></i>Admin</span>
                            <span><i class="fa fa-calendar-o mr-2"></i>20/09/2018</span>
                        </div>
                        <h5>things go better with food</h5>
                        <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                        <a href="#" class="template-btn3 mt-2">read more <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-food">
                    <div class="food-img">
                        <img src="{% static 'front/images/update3.jpg'%}" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="post-admin d-lg-flex mb-3">
                            <span class="mr-5 d-block mb-2 mb-lg-0"><i class="fa fa-user-o mr-2"></i>Admin</span>
                            <span><i class="fa fa-calendar-o mr-2"></i>22/09/2018</span>
                        </div>
                        <h5>food head above the rest</h5>
                        <p>nancy boy off his nut so I said chimney pot be James Bond aking cakes he.</p>
                        <a href="#" class="template-btn3 mt-2">read more <span><i class="fa fa-long-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Update Area End -->

<!-- Table Area End -->
{% endblock main_content %}
<!-- main block content end -->

<!-- script block start -->
{% block scripts %}
<!-- script -->
{% endblock scripts %}
<!-- script block ends -->